<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.saurabh.wings2017">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />




    AndroidManifest.xml
    <application
        android:allowBackup="true"
        android:icon="@drawable/wings_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/wings_app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notif_icon" />


        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CivilHome"
            android:label="@string/title_activity_civil_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".signIn"
            android:label="@string/title_activity_civil_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GenericEventHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cart"
            android:screenOrientation="portrait" />
        />
        <activity
            android:name=".Checkout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".confirmOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tickets"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Team"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Developer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Brain"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Code"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mini"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Talent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Robotics"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CivilHelper"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CodeHelper"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TalentHelper"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MiniHelper"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RoboticsHelper"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Schedule"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DayOne"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DayTwo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DayThree"
            android:screenOrientation="portrait" />
        <activity android:name=".Commitee" />
        <activity android:name=".Elegance" />
        <activity android:name=".EleganceHelper" />
        <activity
            android:name=".BrainGroup"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Volt" />
        <activity android:name=".VoltHelper" />
        <activity android:name=".Faq" />
        <activity android:name=".Mechanico" />
        <activity android:name=".MechanicoHelper" />
        <activity
            android:name=".CivilGroup"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".CodeGroup"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".FunGroup"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MechGroup"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".TalentGroup"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".RobotGroup"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".VoltGroup"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".BinarySchedule" />
        <activity android:name=".EleganceSchedule" />
        <activity android:name=".EleganceDayOne" />
        <activity android:name=".EleganceDayTwo" />
        <activity android:name=".EleganceGroup"></activity>
    </application>



</manifest>